#back-pane {
    -fx-background-color: mediumpurple;
    -fx-padding: 35;
}

#set-A-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

#set-B-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-min-width: 200px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

#expression-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-min-width: 200px;
    -fx-font-size: 14px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

#relation-field {
    -fx-background-radius: 5;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-max-width: 40px;
    -fx-font-size: 14px;
    -fx-max-height: 40px;
    -fx-pref-height: 40px;
    -fx-start-margin: 15px;
    -fx-end-margin: 15px;
    -fx-text-alignment: center;
}

#expression-field {
    -fx-background-radius: 5;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-min-width: 200px;
    -fx-font-size: 14px;
    -fx-max-height: 40px;
    -fx-pref-height: 40px;
    -fx-start-margin: 15px;
    -fx-end-margin: 15px;
    -fx-text-alignment: center;
}

Button {
    -fx-background-radius: 15;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-min-width: 200px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

Label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-stroke: #180a37;
}

Line {
    -fx-stroke: #15214f;
    -fx-stroke-width: 3px;
}