#back-pane {
    -fx-background-color: mediumpurple;
    -fx-padding: 35;
}

#set-A-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

#set-B-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}

#expression-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}