#back-pane {
    -fx-background-color: mediumpurple;
    -fx-padding: 35;
}

#magic-button {
    -fx-background-radius: 48;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
}

#magic-field {
    -fx-background-radius: 12;
    -fx-padding: 3 3 3 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-text-alignment: center;
}